# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ViM files
*.swp

# moos-ivp-extend files
/bin
#./build.sh    # modified
#./CMakeLists.txt     # modified
/build
/data
/lib
#/missions
/README

# Eclipse files
.project
.cproject
.settings
.metadata

# custom files
e.sh
